.tech-section {
  min-height: 100vh;
  background: #000;
  color: white;
  padding: 42px 6% 55px;
  box-sizing: border-box;
}

.tech-container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.tech-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.tech-heading-decoration {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  margin-bottom: 7px;
  color: #a855f7;
}

.tech-heading-decoration span {
  display: block;
  width: 130px;
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent,
    #7c3aed
  );
}

.tech-heading-decoration span:last-child {
  background: linear-gradient(
    90deg,
    #7c3aed,
    transparent
  );
}