.project-card {
  background: #07070a;
  border-radius: 24px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  border: 1px solid rgba(168, 85, 247, 0.15);
  box-shadow: 0 0 40px rgba(168, 85, 247, 0.08);
  transition: 0.4s;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 60px rgba(168, 85, 247, 0.2);
}

.image-wrapper {
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.image-wrapper img {
  width: 100%;
  display: block;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  width: 100%;
  padding: 16px;
  border-radius: 999px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn.primary {
  background: linear-gradient(90deg, #a855f7, #5d00ba, #46006f);
  color: white;
  font-weight: 600;
}

.btn.primary:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.btn.secondary {
  background: transparent;
  border: 1px solid rgba(168, 85, 247, 0.4);
  color: #ddd;
}

.btn.secondary:hover {
  background: rgba(168, 85, 247, 0.1);
}

.techs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  margin: 25px 0;
  padding-top: 15px;

  border-top: 1px solid rgba(255,255,255,0.08);
}

.tech-item {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 14px;
  border-radius: 999px;

  font-size: 0.85rem;
  color: #ddd;

  background: rgba(168, 85, 247, 0.05);
  border: 1px solid rgba(168, 85, 247, 0.25);

  transition: 0.3s;
}

.tech-item img {
  width: 16px;
  height: 16px;
}

.tech-item:hover {
  background: rgba(168, 85, 247, 0.15);
  border: 1px solid #a855f7;
  transform: scale(1.05);
}