.header {
  background: #000000;
  padding: 20px;
  position: relative; 
  display: flex;
  align-items: center;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px; 

  opacity: 0;
  transform: translateX(-150px);
  animation: slideRight 0.8s ease forwards;
}

.logo-white {
  color: white;
}

.logo-purple {
  color: #a855f7; 
}

/* navbar*/
.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 40px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;

  opacity: 0;
  transform: translateY(40px);
  animation: slideUp 0.6s ease forwards;
}

.nav-item:nth-child(1) { animation-delay: 0.3s; }
.nav-item:nth-child(2) { animation-delay: 0.5s; }
.nav-item:nth-child(3) { animation-delay: 0.7s; }
.nav-item:nth-child(4) { animation-delay: 0.9s; }

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav-item:hover {
  color: #a855f7;
  transition: 0.3s;
}